# ignore vscode files

.vscode

# ignore emacs files

*.*#

*.*~

# ignore .o files

*.o

# ignore build dir

SharedLibrary/build

# ignore gui build dir
GUIproject/build-CourseWorkHypermarket-Desktop-Debug

