# ignore vscode files

.vscode

# ignore emacs files

*.*#

*.*~

# ignore .o files

*.o

# ignore build dir

SharedLibrary/build

# ignore gui build dir
GUIproject/build-CourseWorkHypermarket-Desktop-Debug

GUIproject/build-CourseWorkHypermarket-Desktop_Qt_5_15_0_GCC_64bit-Debug

# qt user configuration build file
*.pro.user
